<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

  <!-- Navbar semplice -->
  <nav>
    <h1>Mr Pub Crawl™🥸</h1>
    <a href="/viaggi/luoghi-per-viaggi">Meeting Point📍
    </a>
    <a href="/viaggi/contatti">Contatti📞
    </a>
  </nav>

  <!-- Contenuto principale -->
  <main>
    
<a href="/pubcrawl/all" class="cta-button">🌐 Scopri i Pub Crawl per città</a>
  </main>

 
  <footer>
    &copy; 2025 Mr Pub Crawl
  </footer>

</body>
</html>
